.deco-table td {
    color: black !important;
    font-weight: normal;
}

.deco-table tr>td:first-child {
    font-weight: bold;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.receivable-progress {
    margin: 20px;
}

.r-stage {
    cursor: pointer;
    position: relative;
}

.r-stage::after {
    content: attr(startDate);
}

.r-stage:last-child {
    cursor: unset;
}

.r-stage:last-child::after {
    position: absolute;
    left: -50;
    width: 100px;
}

.r-stage:hover .text-center {
    text-decoration: underline;
}

.receivable-progress .progress {
    height: 1.5rem;
    font-size: 1rem;
    background-color: #b5c0d1;
}

.receivable-progress .r-stage .progress {
    border-radius: 0px;
}

.receivable-progress .r-stage {
    padding: 0px;
}

.receivable-progress .r-stage .progress {
    border-left: 2px solid black;
}

.receivable-progress .r-stage:hover .progress {
    opacity: 0.7;
}

.receivable-progress .r-stage:nth-last-child(2) .progress {
    border-right: 2px solid black;
}

.end-progress .progress-bar {
    background-color: red;
}

.r-low-stage .progress-bar {
    color: black;
    text-align: center;
}

.progress-current-stage>.text-center {
    font-weight: bold;
    font-style: italic;
}

.current-stage {
    margin-bottom: 15px;
}

.margin-btn {
    margin: 10px 10px 10px 0px !important;
}

.suggested {
    position: relative;
    box-sizing: border-box;
}

.suggested-item {
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: -15rem;
    left: -5rem;
    background-color: white;
    z-index: 10;
    width: 35rem;
    height: 15rem;
    overflow-y: auto;
    border: 2px black inset;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    border-radius: 10px;
}

.suggested-item table {
    font-size: 0.8rem !important;
    border-spacing: 0px;
}

.suggested:hover .suggested-item.on {
    display: block;
}

// .full-combobox-holder.suggtion-holder>.k-combobox {
//     width: 100%;
// }
.choosen-collector-info {
    display: none;
}

.full-combobox-holder.suggtion-holder>.choosen-collector-info {
    width: 100%;
    display: block;
}

.rate-range-chooser {
    margin: 20px 0px 10px 0px;
}

.rate-range-chooser * {
    color: black;
    font-size: 1.2rem;
}