.info-table {}

.info-table tr {
    border: 1px solid gray !important;
}

.info-table tr>td:first-child {
    max-width: 100px;
    font-weight: bold;
}

.deco-table td {
    color: black !important;
    font-weight: normal;
}

.deco-table tr>td:first-child {
    font-weight: bold;
}

.info-table td {
    border: none !important;
    padding: 5px 15px 5px 15px !important;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.receivable-progress {
    margin: 20px;
}

.r-stage {
    cursor: pointer;
    position: relative;
}

.r-stage::after {
    content: attr(startDate);
}

.r-stage:last-child {
    cursor: unset;
}

.r-stage:last-child::after {
    position: absolute;
    left: -50;
    width: 100px;
}

.r-stage:hover .text-center {
    text-decoration: underline;
}

.receivable-progress .progress {
    height: 1.5rem;
    font-size: 1rem;
    background-color: #b5c0d1;
}

.receivable-progress .r-stage .progress {
    border-radius: 0px;
}

.receivable-progress .r-stage {
    padding: 0px;
}

.receivable-progress .r-stage .progress {
    border-left: 2px solid black;
}

.receivable-progress .r-stage:hover .progress {
    opacity: 0.7;
}

.receivable-progress .r-stage:nth-last-child(2) .progress {
    border-right: 2px solid black;
}

.r-low-stage .progress-bar {
    color: black;
    text-align: center;
}

.progress-current-stage>.text-center {
    font-weight: bold;
    font-style: italic;
}

.current-stage {
    margin-bottom: 15px;
}

.margin-btn {
    margin: 10px 10px 10px 0px !important;
}