.customerNumberOfReceivableCol {
    text-align: center;
    width: 10%;
}

.customerCodeCol{
    text-align: center;
    width: 10%;
}

.customerNameCol{
    width: 70%;
}

.customerIndexCol{
    width: 10%;
}

