.my-navbar {
    background-color: white !important;
    padding: 0px !important;
    margin: 0px !important;
    width: 100%;
    z-index: 1;
}

.sidenav---sidenav---_2tBP {
    background-color: white !important;
    position: fixed !important;
}

.sideNav-TogleButton {
    background-color: #3778c2 !important;
    height: 4.2rem !important;
}

.sideNav-TogleDiv {
    display: block;
    white-space: nowrap;
    background-color: #3778c2;
    color: #fff;
    height: 4.2rem;
    width: 100%;
}

.navbar-holder {
    height: 5rem;
    z-index: 1;
}

.nav-link:hover svg {
    opacity: 1 !important;
}

.nav-item a {
    text-align: center;
    min-width: 80px;
    color: white;
}

.nav-item a:hover {
    color: white; //text-decoration: underline;
}

.choosen-nav-item {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-brand a {
    color: white;
    font-weight: 400;
    font-size: 26px;
}

.navbar-brand a:hover {
    color: white;
    text-decoration: none;
}

.nav-icon {
    position: relative;
}

.navbar-color {
    background-color: rgb(55, 120, 194);
}

.nav-icon>div {
    background-color: none;
    border: none;
    min-width: 30px;
    min-height: 30px;
    padding: 5px 10px 10px 10px;
}

.nav-icon svg:first-child {
    opacity: 0.7;
}

.nav-icon>div:hover svg:first-child {
    opacity: 1;
}

.nav-icon>div:hover {
    cursor: pointer;
}

.nav-icon-panel {
    top: 10px !important;
}

.my-profile .btn-secondary {
    @extend .transparent-button;
}

.transparent-button {
    background-color: transparent !important;
    border: none !important;
    padding: 0px !important;
    outline: none !important;
    border-radius: 50px;
}

.transparent-button:active {
    @extend .transparent-button;
}

.transparent-button:focus {
    @extend .transparent-button;
}

.noti-item-icon {
    margin: 0 5 0 5;
}

.ml-auto {
    font-size: 1.1rem;
    line-height: 2rem;
}

.ml-auto .nav-link {
    padding-bottom: 0px;
}

.unseen-noti {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 20px;
    width: 18px;
    height: 18px;
    text-align: center;
    vertical-align: middle;
    line-height: 18px;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.85rem;
    @extend .noselect;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

.noti .noti-item:first-child {
    border-top: 0.5px solid gray;
}

.readed-noti {
    background-color: white;
}

.not-readed-noti {
    background-color: #6db1ea61;
}

.noti-item {
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    border-bottom: 0.5px solid gray;
}

.noti-item:hover {
    background-color: #387cb461;
}

.noti-item-body {
    margin: 0px;
    font-size: 0.9rem;
    color: black;
    border: none !important;
    font-weight: 500;
}

.dropdown-item:hover {
    background-color: #387cb461 !important;
}

.sidenav---sidenav-nav---3tvij>.sidenav---sidenav-navitem---uwIJ->.sidenav---navitem---9uL5T .sidenav---navicon---3gCRo,
.sidenav---sidenav-nav---3tvij>.sidenav---sidenav-navitem---uwIJ->.sidenav---navitem---9uL5T .sidenav---navtext---1AE_f {
    color: #3778c2 !important;
}

.sidenav---highlighted---oUx9u {
    font-weight: bold;
}

.sidenav---selected---1EK3y{
    background-color: rgba(88, 166, 255, 0.5);
}