.stage-list {}

.stage-holder {}

.action-holder {
    padding: 10px;
    border: solid 1px #ddd;
}

.action-holder>div {
    margin-bottom: 10px;
}

.action {}

.action-body {
    padding: 10px;
}

.process-info {
    padding: 10px;
    margin: 10px;
}

.note {
    font-style: italic;
    overflow: visible;
    height: auto;
}

.panel-process-action {
    font-size: 1rem;
}

.panel-process-action>div {
    float: right;
}

.process-stage {
    border: 1px solid rgb(221, 223, 226);
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .15);
}

.stage-list .process-stage:not(:first-child) {
    margin-left: 6rem;
}