.body {
    z-index: 0;
    position: relative;
}

.root {
    height: 100%;
}

.root>div {
    @extend .root;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.mb-15 {
    margin-bottom: 15px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-5 {
    margin-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.text-center {
    text-align: center;
}

.flr {
    float: right;
}

.mgb-15 {
    margin-bottom: 15px;
}

.pr-5 {
    padding-right: 5px;
}

.pl-5 {
    padding-left: 5px;
}

.dropdown-menu .fa:before {
    padding-right: 10px;
}

.sort_selected::after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 4px;
    display: inline-block;
}

.panel-action {
    margin: 5px;
    padding: 5px;
    float: right;
}

.panel-action button {
    margin: 10px;
}

.warning-text {
    color: red;
    font-style: italic;
}

.clickable {
    cursor: pointer;
}

.collector-simple-list {
    width: 150px;
}

.no-padding-right {
    padding-right: 0px;
}

.big-modal {
    width: 80% !important;
    max-width: none !important;
}

.big-modal .modal-body {
    min-height: 30rem !important;
    max-height: 30rem !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.bold-text {
    font-weight: bold;
}

.icon-btn {
    cursor: pointer;
    margin: 0px 10px 0px 10px;
}

.icon-btn:focus {
    outline: none;
}

table.table a {
    color: #1e70bf !important;
    text-decoration: underline;
}

.hide-last-row thead:last-child {
    display: none;
}

.full-combobox-holder>.k-combobox {
    width: 100%;
}

.hungdtq-header {
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    color: #3778C2;
}

.table thead th {
    color: #fff;
    background-color: #3778C2;
    border-color: #3778C2;
    font-weight: bold;
}

.main-container {
    position: relative;
    overflow: hidden;
    transition: linear 0.1s;
    margin-left: 5rem;
    width: calc(100% - 5rem);
}

.main-container-expanded {
    position: relative;
    overflow: hidden;
    transition: linear 0.1s;
    margin-left: 17.5rem;
    width: calc(100% - 17.5rem);
}

.main-content {
    background-color: white;
    min-height: calc(100vh - 70px);
    padding-bottom: 20px;
}

.table {
    @extend .table-strip;
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .15);
}

.table td:empty::before {
    content: '-';
}

.table.thin th {
    padding: 10px;
}

.table.thin td {
    padding: 5px;
}

.ui.table {
    @extend .table;
}

.info-table {
    width: 100%;
    @extend .border-shadow;
}

.info-table tr {
    border: none;
    text-align: left !important;
}

.info-table tr>td:first-child {
    max-width: 100px;
    font-weight: bold;
}

.info-table td {
    border: none !important;
    padding: 5px 15px 5px 15px !important;
}

.info-table>tbody>tr {
    background-color: white !important;
}

.table td {
    text-align: center;
}

.table-strip>tbody>tr:nth-of-type(even) {
    background-color: #6db1ea1f !important;
}

.table-strip>tbody>tr:nth-of-type(odd) {
    background-color: white !important;
}

.table-strip>tbody>tr:hover {
    background-color: #6db1eaa8 !important;
}

.rcm-form-control {
    border: none;
    border-bottom: 2px solid #3778C2;
    border-radius: .25rem;
    background-clip: padding-box;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 10px .75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    outline: none;
}

.rcm-btn {
    border-radius: 50px !important;
    padding: 10px !important;
    width: 40px;
    height: 40px;
}

.sidenav---sidenav-nav---3tvij>.sidenav---sidenav-navitem---uwIJ->.sidenav---navitem---9uL5T {
    font-size: 1.2rem !important;
}

.k-animation-container {
    position: relative;
    z-index: 10003 !important;
}

.normal-modal {
    width: 60% !important;
    max-width: none !important;
}

.normal-modal .modal-body {
    max-height: 30rem !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

a.active {
    font-weight: bold;
}

// for semantic ui
.ui.segment {
    border-radius: 0px !important;
}

.no-space-side {
    @extend .no-margin-side;
    @extend .no-padding-side;
}

.no-margin-side {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.no-padding-side {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.full-width {
    width: 100%;
    box-sizing: border-box;
}

.border-shadow {
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    border: 1.5px solid rgba(34, 36, 38, .15);
}

.tableSearchBox {
    padding-bottom: 5px;
    width: 100%;
}

.tableSearchBox>input {
    float: right;
    width: 20rem;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.error-validation-message {
    color: red;
}

.ui.form select,
.ui.form input:not([type]),
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=email],
.ui.form input[type=file],
.ui.form input[type=number],
.ui.form input[type=password],
.ui.form input[type=search],
.ui.form input[type=tel],
.ui.form input[type=text],
.ui.form input[type=time],
.ui.form input[type=url] {
    @extend .input-border;
}

.input-border {
    border: 1.5px solid #b5bcc9 !important;
}

.input-border:focus {
    outline: none;
}

.k-multiselect-wrap,
.k-popup,
.rcm-form-control {
    @extend .input-border;
}

.dataTables_filter input {
    @extend .input-border;
}